<h4>Headline</h4>
<%= cms_tag(:div, widget, :headline) %>

<h4>Type</h4>
<%= cms_edit_enum(widget, :type) %>

<h4>Size</h4>
<%= cms_edit_enum(widget, :size) %>

<h4>Style</h4>
<%= cms_edit_enum(widget, :style) %>

<h4>Alignment</h4>
<%= cms_edit_enum(widget, :alignment) %>
