<div class="details-view">
  <h4>Headline</h4>
  <%= scrivito_tag(:div, widget, :headline) %>

  <h4>Type</h4>
  <%= scrivito_toggle_button_editor(widget, :type) %>

  <h4>Size</h4>
  <%= scrivito_toggle_button_editor(widget, :size) %>

  <h4>Style</h4>
  <%= scrivito_toggle_button_editor(widget, :style) %>

  <h4>Alignment</h4>
  <%= scrivito_toggle_button_editor(widget, :alignment) %>

  <h4>Anchor</h4>
  <%= scrivito_tag(:div, widget, :anchor) %>
</div>
